*{
    padding: 0;
    margin: 0;
    box-sizing: 0;

}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img{
    width: 170px;
}
header input{
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.73);
    border: none;
}
header .icons{
    display: flex;
    gap: 30px;
}

header .input-area{
    display: flex;
    justify-content: end;
    align-items: center;
}
header .input-area input{
    position: relative;

}

header .input-area i{
    position: absolute;
    margin: 10px;
    color: rgb(244, 133, 6);
}
.icons i:hover{
    color: orange;
    transition: .5s;
    cursor: pointer;
}
.icons span:hover{
    color: orange;
    transition: .5s;
    cursor: pointer;
    
}
.icons span{
    font-family: sans-serif;
    font-size: 15px;
}
.categories{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 5px;
    margin-top: 15px;
}
.categories li{
    font-family: sans-serif;
    font-size: 17px;
}
.categories li:hover{
    color: orange;
    transition: .5s;
    cursor: pointer;
}
.brands{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.brands img{
    width: 65px;
}
.brands div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.categories span{
    color: white;
    padding: 3px;
    border-radius: 10px;
}
.brands span:hover{
    color: orange;
    transition: .5s;
    cursor: pointer;
}
.brands span{
    font-size: 13px;
    font-weight: bold;

}
.brands img{
    border-radius: 50px;
}

.brands img:hover{
    border: 2px solid orange;
    cursor: pointer;
   
}
.gif{
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 20px;
    margin-top: 40px;
    cursor: pointer;
}
.gif img{
    width: 100%;
}
.titles{
    display: flex;
    justify-content: center;
}
.titles img{
    width: 400px;
    padding: 30px;
    cursor: pointer;
}
.titles img:hover{
    scale: 1.1s;
    transition: .5s;
}
.cards{
    border: 2px solid antiquewhite;
    background-color: rgb(252, 249, 249);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.cards h1{
    font-family: sans-serif;
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cards-info img{
    height: 240px;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
}
.cards-info img:hover{
    scale: 1.01;
    transition: .5s;
    cursor: pointer;
}
.cards-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    transition: .5s;
    background-color: rgb(245, 251, 251);
    cursor: pointer;
}
.cards-info p{
    color: orange;
}
.cards-info h4{
    font-weight: bold;
}
.cards-info .description{
    display: flex;
    align-items: end;
}
.img-container{
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 10px;
    grid-template-columns: auto auto auto;
}
.img-container img{
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
}
.tags{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.tags a{
    padding: 10px;
    color: black;
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 15px;

}
.tags a:hover{
    color: orange;
}
.content{
    margin: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.popular{
    display: flex;
    justify-content:space-around;
    gap: 50px;
}
.popular li{
    list-style-type: none;
}
footer{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    border: 2px solid ;
    color: white;
    height: 270px;
    background-color: black;

}
.foot-title{
    display: flex;
    justify-content: space-around;
}
.foot-list{
    padding: 20px;
   
}
.foot-img img{
    height: 150px;
    width: 290px;

}
.foot-icons{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}